* {
  margin: 0;
  padding: 0;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  height: 100%;
  width: 100%;
  background-color: auto;
  
}

img {
margin: left;
width: 45px;
height: 45px;
border-radius: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: green;
  color: white;
  font-family: Arial;
box-shadow: 2px 2px grey;
}

ul:hover {
  
  
}

li {
  float: left;
  border-right: 1px solid black;
  
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: black;
  color: white;
  border-right: 1px solid white;
  transition: 0.8s;
}

genelorta {
position: absolute;
background: rgb(0,35,94);
background: linear-gradient(90deg, rgba(0,35,94,1) 5%, rgba(150,1,1,1) 100%);
margin-top: 0px;
height: 100%;/*834*/
width: 100%;/*1240*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}

ortayazi {
text-align: center;
color: white;
margin-left: 10%;
font-family: Arial;
transition-duration: 0.5s; 
  
}

genelorta p{
  color: white;

}

.orta {
  display: block;
  text-align: center;
}

.orta a {
  margin: 0;
  padding: 0;
  margin-right: 40%;
  transition-duration: 0.5s;
}

davetet {
  position: absolute;
  margin-top: 50px;
  border-radius: 10%;
  border: 2px;
    background: linear-gradient(90deg, rgba(6,96,36,1) 0%, rgba(1,150,26,1) 58%);
  width: 180px;
  height: 40px;
  padding: 8px;
  font-family: Arial;
  text-decoration: none;
  color: white; 
  transition-duration: 0.5s;
}

davetet:hover {
  transition-duration: 0.5s;
    box-shadow: 1px 1px grey;
    background: linear-gradient(90deg, rgba(1,150,26,1) 0%, rgba(6,96,36,1) 100%);
}

footer {
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  opacity: 0.1;
}
